# vscode
.vscode/

# dependencies
.next/
node_modules/
package-lock.json

# build
build/
out/

# typescript
*.tsbuildinfo
next-env.d.ts

# back-end
target/
.idea/
*.properties
backend/src/main/azure/local.settings.json
